<%= content_tag(:details, open: current_list.name.to_s.length < 5) do %>
  <summary>Title: <span class="bg-light-blue br2"><%= current_list.name %></span></summary>
  <%= simple_form_for([current_account, current_list]) do |f| %>
    <% unless current_list.persisted? %>
      <label for="smart_redirect" class="db">
        <%= check_box_tag(:smart_redirect, new_account_list_path(current_account, smart_redirect: true), params[:smart_redirect]) %>
        BurstMode!?
        <small>make a bunch of article/todos</small>
      </label>
    <% end %>
    <%= f.input :name,
      label: 'Page Title',
      required: true,
      autofocus: !current_list.persisted?,
      input_html: {class: "tc", minlength: 2},
      placeholder: "10 Gifts for Awesome Grandmas"
    %>
    <%= f.button :submit %>
  <% end %>
<% end %>

<% if current_list.name.present? %>
  <%= content_tag(:details, open: current_list.word_count < 100) do %>
    <summary>Page Content, Words: <%= current_list.word_count %></summary>
    <%= simple_form_for([current_account, current_list]) do |f| %>
      <!-- the trix editor goes here: https://github.com/basecamp/trix -->
      <%= f.input :body, as: :hidden, input_html: {id: "new_list_body"} %>
      <trix-editor input="new_list_body" placeholder="Add a super cool description to help people find this list!"></trix-editor>
      <%= f.button :submit, 'Save Changes' %>
    <% end %>
  <% end %>
<% end %>
