<%= simple_form_for([current_account, current_list]) do |f| %>
  <span class="relative f4 gray" style="left: -50px;top: 40px;">Title</span>

  <div class="bl b--gray mb2">
    <%= f.input :name,
      label: false,
      required: true,
      autofocus: !current_list.persisted?,
      input_html: {class: "tc f2 measure lh-title fw1 mv0 bn", minlength: 2},
      placeholder: "10 Gifts for Awesome Grandmas"
    %>
  </div>

  <div class="mw5 center">
    <%= f.button :submit, current_list.persisted? ? "Update" : "Create Draft", class: "w-100" %>
    <% unless current_list.persisted? %>
      <label for="smart_redirect" class="db">
        <%= check_box_tag(:smart_redirect, new_account_list_path(current_account, smart_redirect: true), params[:smart_redirect]) %>
        BurstMode!?
      </label>
      <small>make a bunch of article/todos</small>
    <% end %>
  </div>
  <hr class="mw5 center mv4"/>
<% end %>

<% if current_list.persisted? %>
  <%= simple_form_for([current_account, current_list]) do |f| %>
    <% if current_list.image_id %>
      <%= image_tag attachment_url(current_list, :image) %>
    <% else %>
      <%= small_info("Upload an image before publishing!") %>
      <%= image_tag "//via.placeholder.com/300x300?text=Upload+an+image+before+publishing!" %>
    <% end %>
    <div class="fr">
      <%= f.attachment_field :image %>
      <%= f.button :submit, 'Save Changes' %>
    </div>
  <% end %>

  <hr class="mw5 center mv4"/>
<% end %>

<% if current_list.name.present? %>
  <h3>Words: <%= current_list.word_count %></h3>
  <%= simple_form_for([current_account, current_list]) do |f| %>
    <!-- the trix editor goes here: https://github.com/basecamp/trix -->
    <%= f.input :body, as: :hidden, input_html: {id: "new_list_body"} %>
    <trix-editor input="new_list_body" placeholder="Add a super cool description to help people find this list!"></trix-editor>
    <%= f.button :submit, 'Save Changes' %>
  <% end %>
<% end %>
