<% list_item ||= OpenStruct.new(details: false) %>
<% class_name ||= "w-50 w-third-ns" %>

<article id="item-<%= item.asin %>" data-asin="<%= item.asin %>" class="fl <%= class_name %> pa2-ns">
  <div class="tc" style="min-height: 12px;">
    <% if item.price %>
      <small title="Last time we checked this was <%= number_to_currency(item.price) %>">Recently
        @ <%= number_to_currency(item.price) %></small>
    <% end %>
  </div>
  <div class="tc cf">
    <% if in_cart?(item.asin) %>
      <div class="fl w-10"><%= link_to("x", cart_item_path(item.asin, quantity: 0), method: :patch, class: "f2 pink") %></div>
      <div class="fl w-90">
        <%= link_to("-", cart_item_path(item.asin, quantity: current_cart[item.asin].to_i - 1), method: :patch, class: "f2 ttu  pv0") %>
        <span class="bg-blue bn br3 ph2 pv0 white f2 tracked ttu hover-blue hover-bg-white"><%= current_cart[item.asin] %>
          IN CART</span>
        <%= link_to("+", cart_item_path(item.asin, quantity: current_cart[item.asin].to_i + 1), method: :patch, class: "f2 ttu pv0") %>
      </div>
    <% else %>
      <div class="fl w-100">
        <%= link_to("Add to Cart", cart_item_path(item.asin, quantity: 1), method: :patch, class: "f2 blue hover-white bg-white hover-bg-blue br3 ph2  pv0 tracked ttu") %>
      </div>
    <% end %>
  </div>
  <div class="aspect-ratio aspect-ratio--1x1">
    <%= link_to(item.buy_now) do %>
      <img class="db bg-center cover aspect-ratio--object" style="background-image: url(<%= item.images.dig("LargeImage", "URL") %>)"/>
    <% end %>
  </div>
  <%= link_to(item.buy_now, class: "pv0 ph1 link db overflow-hidden", target: "_blank") do %>
    <h3 class="f5 f4-ns ma0 black-90 truncate"><%= item.title %></h3>
    <% if list_item && list_item.details %>
      <h3 class="f6 f5 fw4 ma0 black-60 truncate"><%= list_item.details %></h3>
    <% end %>
  <% end %>
</article>
