<% item = list_item.item %>

<li style="display: block; border: 1px solid grey; border-radius: 4px; padding: 15px; margin-bottom: 10px;">
  <div class="row">
    <div class="col-sm-2">
      <%= image_tag(item.images.dig("MediumImage", "URL"), class: "img-responsive img-rounded") %>
    </div>
    <div class="col-sm-8">
      <div>
        <%= item.brand.try(:name) %><%= item.title %>
        <small>(Last time we checked this was <%= number_to_currency(item.price) %>)</small>
      </div>
      <p><%= list_item.details %></p>
    </div>
    <div class="col-sm-2">
      <% if in_cart?(asin: item.asin) %>
        <span>
          <%= current_cart[item.asin] %> in cart
          <%= link_to("Inc", cart_item_path(item.asin, quantity: current_cart[item.asin].to_i + 1), method: :patch) %>
          <%= link_to("Dec", cart_item_path(item.asin, quantity: current_cart[item.asin].to_i - 1), method: :patch) %>
          <%= link_to("Remove", cart_item_path(item.asin, quantity: 0), method: :patch) %>
        </span>
      <% else %>
        <span><%= link_to("Add to Cart", cart_item_path(item.asin, quantity: 1), method: :patch) %></span>
      <% end %>
    </div>
  </div>
</li>
