<div class="tc"><%= render partial: 'lists/actions' %></div>
<div class="mw8 center">
  <%= render 'lists/form' %>

  <div class="mw7">
    <% current_list.list_items.where.not(id: nil).each_with_index do |list_item, index| %>
      <%= render partial: 'lists/items/form', locals: {list_item: list_item, index: index} %>
    <% end %>
  </div>

  <h4>Add New Section To This Page:</h4>

  <div class="cf mv4">
    <% ListItem.styles.each do |name, id| %>
      <%= button_to(account_list_items_path(current_account, current_list, list_item: {style_cd: id}), method: :post,
        class: "fl db w-100 w-25-ns link pointer tc pv4 bg-black-05 hover-bg-black-10") do %>
        <div class="aspect-ratio aspect-ratio--4x3">
          <div class="aspect-ratio--object pv4">
            <h3 class="f3 fw3 mt0">New <%= name.to_s.titleize %></h3>
            <p class="f5 fw1"><%= t("list_items.style.#{name}") %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


</div>

<script src="https://cdn.rawgit.com/basecamp/trix/e34a0db3c9e0ca303488227fceb6cd9b33cfdd09/dist/trix.js" charset="utf-8"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/basecamp/trix/e34a0db3c9e0ca303488227fceb6cd9b33cfdd09/dist/trix.css" media="screen" title="no title" charset="utf-8">
