<div class="tc"><%= render partial: 'lists/actions' %></div>
<div class="mw7 center">
  <%= render 'lists/form' %>

  <% current_list_items = current_list.list_items.where.not(id: nil).sorted.to_a %>

  <div class="mw7 center" id="sortable">
    <% current_list_items.each_with_index do |list_item, index| %>
      <%= div_for(list_item) do %>
        <%= render partial: 'lists/items/form', locals: {list_item: list_item, index: index, size: current_list_items.size} %>
      <% end %>
    <% end %>
  </div>

  <div class="cf mv4">
    <hr class="mw5 center mv4"/>
    <h4 class="tc">Add New Section To This Page</h4>
    <ul class="list pl0 ml0 center mw5 ba b--light-silver br3">
      <% ListItem.available_styles(current_list_items.map(&:style_cd)).each do |name, id| %>
        <%= button_to(account_list_items_path(current_account, current_list, list_item: {style_cd: id}), method: :post,
          class: "button-reset pointer hover-bg-near-white w-100 ph3 pv2 bb b--light-silver") do %>
          <h1 class="f6 f5-ns fw6 lh-title black mv0"><small class="db tc">Add</small><%= name.to_s.titleize %></h1>
          <h2 class="f6 fw4 mt2 mb0 black-60"><%= t("list_items.style.#{name}") %></h2>
        <% end %>
      <% end %>
    </ul>


  </div>

</div>

<script src="https://cdn.rawgit.com/basecamp/trix/e34a0db3c9e0ca303488227fceb6cd9b33cfdd09/dist/trix.js" charset="utf-8"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/basecamp/trix/e34a0db3c9e0ca303488227fceb6cd9b33cfdd09/dist/trix.css" media="screen" title="no title" charset="utf-8">
<script !src="">
  function reload() {
    window.location.reload()
  }

  function sortUp(id) {
    var current = $("#list_item_" + id);
    current.prev().before(current);
    sendSort()
  }

  function sortDown(id) {
    var current = $("#list_item_" + id);
    current.next().after(current);
    sendSort()
  }

  function sendSort() {
    $.rails.ajax({
      url: "<%= sort_account_list_items_path(current_account, current_list) %>",
      type: "POST",
      data: $("#sortable").sortable('serialize'),
    }).done(reload)
  }

  function sortable() {
    //create the sort function for list_items
    $("#sortable").sortable({update: sendSort});
  }

  function hideShowSubmit() {
    $("input[type='submit']").hide();
    $(document).on("focus change keyup blur", "input, textarea", function(e) {
      $(this).closest("form").find("input:submit").show();
    });
  }

  $(document).ready(sortable);
  //  $(document).ready(hideShowSubmit);
</script>

