<%= render partial: "layouts/about_us" %>
<div class="cf">
  <div class="fl w-100 w-70-ns">
    <ul class="list ma0 pa0">
      <% @lists.each do |list| %>
        <li>
          <%= link_to list_path(list) do %>
            <div>
              <div><%= list.name.html_safe %></div>
            </div>
            <ul>
              <% list.items.each do |item| %>
                <li>
                  <small><%= item.title || item.asin %></small>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= will_paginate(@lists) %>
  </div>
  <div class="fl w-100 w-30-ns">
    <ul>
      <% @items.each do |item| %>
      <li><%= link_to(item.title, list_path(item.list_items.first.list_id)) %></li>
      <% end %>
    </ul>
    <div class="mw8 center">
      <% @brands.each do |brand| %>
        <%= link_to(brand.name, brand, class: "bg-blue near-white dib br3 ph3 mr3 mv3 pv2 tracked ttu") %>
      <% end %>
    </div>
  </div>
</div>

