<%= render partial: "layouts/about_us" %>
<div class="cf mw8 center">
  <div class="fl w-100 w-70-ns">
    <ul class="list ma0 pa0">
      <% @lists.each do |list| %>
        <li>
          <%= link_to list_path(list) do %>
            <div>
              <div><%= list.name.html_safe %></div>
            </div>
            <ul>
              <% list.items.each do |item| %>
                <li>
                  <small><%= item.title || item.asin %></small>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= will_paginate(@lists) %>
  </div>
  <div class="fl w-100 w-30-ns">
    <%= render "layouts/sidebar_items" %>
  </div>
</div>
