<h2 class="tc">Create a New List</h2>
<div class="row">
  <div class="col-sm-8">
    <%= render 'form' %>
  </div>
  <div class="col-sm-4">
    <% if @drafts.present? %>
      <h2>drafts</h2>
      <ul style="">
        <% @drafts.each do |list| %>
          <li><%= link_to list.name, new_list_item_path(list) %> - <%= link_to "(edit)", edit_list_path(list) %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @published.present? %>
      <h3>published</h3>
      <ul>
        <% @published.each do |list| %>
          <li><%= link_to list.name, edit_list_path(list.id) %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @bootstrap.present? %>
      <h2>Update These!</h2>
      <ul style="">
        <% @bootstrap.each do |list| %>
          <li><%= link_to list.name, new_list_item_path(list) %></li>
        <% end %>
      </ul>
    <% end %>

  </div>
</div>
