
<div class="cf">
  <div class="fl-ns w-10-ns">
    &nbsp;
    </div>

  <div class="fl-ns w-50-ns">
    <h2 class="tc">Create a New Page</h2>
    <%= render 'lists/form' %>
  </div>
  <div class="fl-ns w-40-ns">
    <% if @drafts.any? %>
      <h2>Drafts</h2>
      <ul>
        <% @drafts.each do |list| %>
          <li><%= link_to(edit_account_list_path(current_account, list), class: "db link dim") do %>
              <%= content_tag(:div, list.name, class: "near-black f4 dim") %>
              <small class="dark-gray dim"><%= time_ago_in_words(list.created_at) %> ago</small>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @published.present? %>
      <h3>published</h3>
      <ul>
        <% @published.each do |list| %>
          <li><%= link_to list.name, edit_account_list_path(current_account, list) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
