<%= content_for(:title, @list.name) %>

<% if @list.category %>
  <p><%= link_to @list.category.name, category_path(@list.category_id) %></p>
<% end %>
<h1 class="tc ma2 pa0"><%= @list.name %></h1>
<% if @list.body %>
  <p class="measure center br3 bg-near-white ph4 pv3"><%= @list.body.try(:html_safe) %></p>
<% end %>

<div class="cf">
  <div class="fl w-30">
    <%= render "layouts/sidebar_items" %>
  </div>
  <div class="fl w-70">
    <section class="cf w-100 pa2-ns">
      <% @list_items.each do |list_item| %>
        <% if @list.display_theme.to_sym == :grid %>
          <%= render partial: 'lists/list_item_card', locals: {list_item: list_item, item: list_item.item} %>
        <% else %>
          STORY
          <%= render partial: 'lists/list_item_card', locals: {list_item: list_item, item: list_item.item} %>
        <% end %>
      <% end %>
    </section>
  </div>
</div>

