<%= content_for(:title, @list.name) %>

<% if @list.category %>
  <p><%= link_to @list.category.name, category_path(@list.category_id) %></p>
<% end %>
<% if is_admin? || is_robot? %>
  <small class="db tc"><%= link_to("edit", edit_list_path(@list.id)) %></small>
<% end %>
<div class="bg-blue near-white pv2 pv4-ns">
  <h1 class="tc mt2 mb0 pa0"><%= @list.name %></h1>
  <div class="cf w-50 center">
    <div class="fl w-100 w-50-ns">
      <blockquote class="measure-narrow center pa4 tl f4 fw1 bl bw3 b--near-black">
        List Created By:
        <% if @list.user_id == List::BOOTSTRAP_USER_ID %>
          <%= link_to(nav_title, root_path, class: "white fw6 b") %>
        <% else %>
          <%= link_to("User #{@list.user_id}", lists_path(user_id: @list.user_id) , class: "white fw6 b") %>
        <% end %>
      </blockquote>
    </div>
    <div class="fl w-100 w-50-ns">
      <% if @list.body %>
        <p class="ph4 pv3"><%= @list.body.try(:html_safe) %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="cf">
  <div class="fl w-30">
    <%= render "layouts/sidebar_items" %>
  </div>
  <div class="fl w-70">
    <section class="cf w-100 pa2-ns">
      <% @list_items.each do |list_item| %>
        <% if @list.display_theme.to_sym == :grid %>
          <%= render partial: 'lists/list_item_card', locals: {list_item: list_item, item: list_item.item} %>
        <% else %>
          STORY
          <%= render partial: 'lists/list_item_card', locals: {list_item: list_item, item: list_item.item} %>
        <% end %>
      <% end %>
    </section>
  </div>
</div>

