<%= content_for(:title, @list.name) %>

<% if @list.category %>
  <p><%= link_to @list.category.name, category_path(@list.category_id) %></p>
<% end %>
<h1 class="tc ma2 pa0"><%= @list.name %></h1>
<% if @list.body %>
  <p class="measure center br3 bg-near-white ph4 pv3"><%= @list.body.try(:html_safe) %></p>
<% end %>

<div class="cf mw9 center">
  <div class="fl w-20">
    <ul class="list ma0pa0">
      <% @brands.each do |brand| %>
        <li><%= link_to([brand.items_count, brand.name].join(" - "), brand) %></li>
      <% end %>
    </ul>
  </div>
  <div class="fl w-80">
    <section class="cf w-100 pa2-ns">
      <% @list_items.each do |list_item| %>
        <%= render partial: 'lists/list_item', locals: {list_item: list_item, item: list_item.item} %>
      <% end %>
    </section>
  </div>
</div>

