<h2 class="tc">Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email, autofocus: true %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.input :password, autocomplete: "off" %>
  <%= f.input :password_confirmation %>
  <small class="db tc f6 fw1 mv2"><i>(we need your current password to confirm your changes)</i></small>
  <%= f.input :current_password %>
  <small class="db tc f6 fw1 mv2"><i>(we need your current password to confirm your changes)</i></small>
  <%= f.button :submit %>
<% end %>

<div class="measure center">
  <hr/>
  <h3>Cancel my account</h3>

  <p>
    Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: SimpleForm.button_class, form_class: SimpleForm.default_form_class %>
  </p>
  <%= link_to "Back", :back %>
</div>
