<div class="cf mw8 center nl2 nr2">
  <div class="fl w-30 ph2">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.input :email, :autofocus => true %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.button :submit, "Sign up" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
  <div class="fl w-70 ph2">
    <div class="mw7 center">
      <h1>Create multiple Affiliate Sites</h1>
      <h2>Build Content, Build Traffic, Get Clicks, Make Money!</h2>
      <h3>Features:</h3>
      <ul>
        <li><%= feature("Easy Custom Domain Setup!") %></li>
        <li><%= feature("Easy Guide Editing!") %></li>
        <li><%= feature("Upload Site Header image") %></li>
      </ul>
      <h3>Todos:</h3>
      <ul>
        <li><%= todo("Email Signup without password") %></li>
        <li><%= todo("Upload List image") %></li>
        <li><%= todo("Upload ListItem image") %></li>
        <li><%= todo("Change nav Colors") %></li>
        <li><%= todo("ListItem import image from Amazon directly") %></li>
        <li><%= todo("PageScan for Affiliate links") %></li>
        <li><%= todo("Info Pages for non-affiliate content") %></li>
      </ul>
    </div>
  </div>
</div>
