<div class="cf mw8 center nl2 nr2">
  <div class="fl w-30 ph2 vh-50 dt">
    <div class="dtc v-mid">
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= f.input :email, :autofocus => true %>
        <%= f.button :submit, "Sign up" %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="fl w-70 ph2 vh-50 dt">
    <div class="dtc v-mid mw7 center">
      <h1>Create multiple Affiliate Sites</h1>
      <h2>Build Content, Build Traffic, Get Clicks, Make Money!</h2>
      <h3>Features:</h3>
      <ul>
        <li><%= feature("Easy Custom Domain Setup!") %></li>
        <li><%= feature("Easy Guide Editing!") %></li>
        <li><%= feature("Upload Site Header image") %></li>
      </ul>
      <h3>Todos:</h3>
      <ul>
        <li><%= todo("Email Signup without password") %></li>
        <li><%= todo("Change nav Colors") %></li>
      </ul>
    </div>
  </div>
</div>
