<h2 class="tc">Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email, :autofocus => true %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, "Sign up" %>
<% end %>

<%= render "devise/shared/links" %>
