<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <%= render partial: "lists/actions" %>
    </div>
    <h3>List/Review</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <small class="label label-info" style="display: block; text-align: center;"><%= @list.status %></small>
    <div style="height: 64px;font-size: 34px;text-align: center;">
      <%= @list.name %>
    </div>
    <div><%= @list.body %></div>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-xs-12">
    <h4>List Items</h4>

    <div class="item-list">
      <%= render 'lists/items/form' %>
    </div>
    <hr/>
    <% if @list_items.length > 0 %>
      <ul style='list-style-type: none;padding:0;'>
        <%= render partial: 'lists/items/list_item', collection: @list_items, object: "list_item" %>
      </ul>
    <% end %>
  </div>
</div>

<script src="https://cdn.rawgit.com/basecamp/trix/e34a0db3c9e0ca303488227fceb6cd9b33cfdd09/dist/trix.js" charset="utf-8"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/basecamp/trix/e34a0db3c9e0ca303488227fceb6cd9b33cfdd09/dist/trix.css" media="screen" title="no title" charset="utf-8">
