<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <%= render partial: "lists/actions" %>
    </div>
    <h3>List/Review</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <small class="label label-info" style="display: block; text-align: center;"><%= @list.status %></small>
    <div style="height: 64px;font-size: 34px;text-align: center;">
      <%= @list.name %>
    </div>
    <div><%= @list.body.html_safe %></div>
  </div>
</div>

<% if @search_items.length > 0 %>
  <form action="<%= url_for(params.slice(:controller,:action)) %>" class="bg-light-blue pa3 mw7 center br2-ns ba b--black-10">
    <div class="cf">
      <input class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns"  type="search" name="query" value="<%= params[:query] %>" id="query">
      <input class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-25-m w-20-l br2-ns br--right-ns" type="submit" value="Search">
    </div>
  </form>
  <ul>
    <% @search_items.each do |item| %>
      <li><%= item.inspect %></li>
    <% end %>
  </ul>

  <hr/>
<% end %>
<hr/>

<div class="row">
  <div class="col-xs-12">
    <h4>List Items</h4>

    <div class="item-list">
      <%= render 'lists/items/form' %>
    </div>
    <hr/>
    <% if @list_items.length > 0 %>
      <ul style='list-style-type: none;padding:0;'>
        <%= render partial: 'lists/items/list_item', collection: @list_items, object: "list_item" %>
      </ul>
    <% end %>
  </div>
</div>
