<header class="tc ph4">
  <% if current_account.header_image %>
    <%= attachment_image_tag(current_account, :header_image) %>
  <% else %>
    <h1 class="<%= current_account.header_font.to_s.dasherize %> measure lh-title fw1 mt0 f3 f2-m f1-l fw2 black-90 mv3">
      <%= current_account.name %>
    </h1>
    <% if current_account.header_subtitle %>
      <h2 class="<%= current_account.subtitle_font.to_s.dasherize %> f5 f4-m f3-l fw2 black-50 mt0 lh-copy">
        <%= current_account.header_subtitle %>
      </h2>
    <% end %>
  <% end %>
  <hr class="measure center"/>
</header>
