<div class="cf mv4">
  <section class="avenir fl-ns w-70-ns">
    <article class="baskerville pb5">
      <header class="avenir tc-l ph3 ph4-ns pt0">
        <h1 class="f2 f1-l measure lh-title fw1 mv0"><%= link_to(@list.name, params, class: "link near-black") %></h1>

        <p>
          Published
          <time class="f5 f4-l fw1 baskerville mb4"><%= @list.updated_at.to_date.to_formatted_s(:long) %></time>
          by <%= @list.user.public_name %>
          <% if @list.page_views %>
            <span>, </span>
            <small class="black-50"><%= @list.page_views %> page views</small>
          <% end %>
          <span>, </span>
          <small class="black-50"><%= @list.item_count %> products reviewed</small>
          - 3 Comments
        </p>

        <% if current_list.image %>
          <%= image_tag(attachment_url(current_list, :image), class: 'w-100 dib measure f3') %>
        <% end %>

        <p class="f6 measure-wide center">
          <small>
            <strong><%= current_account.name %></strong> participates in affiliate programs. We may receive commissions
            if you purchase an item via links on this page to affiliate partner sites.
            Buying products through these links helps us grow and write better content in the
            future. <%= link_to('Read more about what we do.', '/about') %>
          </small>
        </p>
      </header>

      <div class="cf">
        <details class="f4 mb4 center measure lh-copy pointer">
          <summary>
            <h3 class="di">Table of Contents
              <small class="blue">[show]</small>
            </h3>
          </summary>
          <ol class="ma0 pb2 mt0">
            <% @list.list_items.each_with_index do |item, index| %>
              <li class="">
                <%= link_to({anchor: item.id}, class: "db link near-black dim") do %>
                  <%= attachment_image_tag(item, :image, class: "ba b--black-10 db br2 w2 h2") %>
                  <span class="di truncate"><%= item.title.truncate(30) %></span>
                <% end %>
              </li>
            <% end %>
          </ol>
        </details>
      </div>
      <div class="ph3 ph4-m ph5-l">
        <div class="f4 mb4 center measure lh-copy">
          <%= @list.body.html_safe %>
        </div>

        <% @list.list_items.each do |item| %>
          <hr/>
          <h3 class="f3 tc"><%= item.title %></h3>
          <hr/>
          <% if item.image %>
            <div class="tc">
              <%= attachment_image_tag(item, :image) %>
            </div>
          <% end %>
          <div class="tc">
            <%= link_to(">> Click to check price on #{PublicSuffix.parse(URI(item.affiliate_link).host).domain.humanize} >>", item.affiliate_link) %>
          </div>
          <% if item.body %>
            <%= item.body.html_safe %>
            <div class="tc pv3">
              <%= link_to(image_tag("amazon/buy2.gif"), item.affiliate_link) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </article>
  </section>
  <aside class="dn db-ns fl-ns w-30-ns">
    <div class="pv4 ph3">
      <%= render "layouts/sidebar_items" %>
    </div>
  </aside>
</div>
