<div class="cf mv4">
  <main class="avenir fl-ns w-70-ns">
    <article class="baskerville pb5">
      <header class="avenir tc-l ph3 ph4-ns pt0">
        <h1 class="f2 f1-l measure lh-title fw1 mv0"><%= link_to(current_list.name, params, class: "link near-black") %></h1>

        <p>
          Published
          <time class="f5 f4-l fw1 baskerville mb4"><%= current_list.updated_at.to_date.to_formatted_s(:long) %></time>
          by <%= current_list.user.public_name %>
          <% if current_list.page_views > 10 %>
            <span>, </span>
            <small class="black-50"><%= current_list.page_views %> page views</small>
          <% end %>
          <% if current_list.item_count > 1 %>
            <span>, </span>
            <small class="black-50"><%= current_list.item_count %> products reviewed</small>
          <% end %>
          <% if false %>
            - 3 Comments
          <% end %>
        </p>

        <% if current_list.image %>
          <%= image_tag(attachment_url(current_list, :image), class: 'w-100 dib measure f3') %>
        <% end %>

        <% if current_list.item_count > 0 %>
          <p class="f6 measure-wide center">
            <small>
              <strong><%= current_account.name %></strong> participates in affiliate programs. We may receive
              commissions
              if you purchase an item via links on this page to affiliate partner sites.
              Buying products through these links helps us grow and write better content in the
              future. <%= link_to('Read more about what we do.', '/about') %>
            </small>
          </p>
        <% end %>
      </header>
      <% if current_list.item_count > 0 %>
        <div class="cf">
          <details class="f4 mb4 center measure lh-copy pointer">
            <summary>
              <h3 class="di">Table of Contents
                <small class="blue">[show]</small>
              </h3>
            </summary>
            <ol class="ma0 pb2 mt0">
              <% current_list.list_items.each_with_index do |item, index| %>
                <li class="">
                  <%= link_to({anchor: item.id}, class: "db link near-black dim") do %>
                    <%= attachment_image_tag(item, :image, class: "ba b--black-10 db br2 w2 h2") %>
                    <% if item.title.to_s.length > 0 %>
                      <span class="di truncate"><%= item.title.truncate(30) %></span>
                    <% elsif item.recipe_ingredients? %>
                      <span class="di truncate">Ingredients</span>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ol>
          </details>
        </div>
      <% end %>
      <div class="ph3 ph4-m ph5-l">
        <div class="f4 mb4 center measure lh-copy">
          <%= current_list.body.html_safe %>
        </div>

        <% current_list.list_items.sorted.each do |item| %>
          <section id="<%= item.id %>">
            <% if item.title %>
              <div class="f4 mb4 center measure lh-copy">
                <h3><%= item.title %></h3>
              </div>
            <% end %>
            <% if item.image %>
              <div class="tc">
                <%= attachment_image_tag(item, :image) %>
              </div>
            <% end %>

            <% if item.has_link? %>
              <div class="tc">
                <%= link_to(">> Click to check price on #{item.link_domain} >>", item.affiliate_link) %>
              </div>
            <% end %>

            <% if item.recipe_ingredients? %>
              <div class="f4 mb4 center measure lh-copy">
                <h3>Recipe Ingredients</h3>
                <ul>
                  <% item.list_item_ingredients.each do |ingredient| %>
                    <li><%= ingredient.name %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <% if item.recipe_instructions? %>
              <div class="f4 mb4 center measure lh-copy">
                <h3>Recipe Instructions</h3>
                <ol>
                  <% item.list_item_ingredients.each do |ingredient| %>
                    <li><%= ingredient.comment %></li>
                  <% end %>
                </ol>
              </div>
            <% end %>

            <% if item.body %>
              <div class="f4 mb4 center measure lh-copy">
                <%= item.body.html_safe %>
              </div>
              <% if item.has_link? %>
                <div class="tc pv3">
                  <%= link_to(image_tag("amazon/buy2.gif"), item.affiliate_link) %>
                </div>
              <% end %>
            <% end %>
          </section>
        <% end %>
      </div>
    </article>
  </main>
  <aside class="dn db-ns fl-ns w-30-ns">
    <div class="pv4 ph3">
      <%= render "layouts/sidebar_items" %>
    </div>
  </aside>
</div>
