<nav class="navbar navbar-default" role="navigation">
  <div id='nav-bar' class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to(nav_title, root_path, {class: 'navbar-brand'}) %></li>
      <% if user_signed_in? %>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <li><%= link_to('Edit profile', edit_user_registration_path) %></li>
      <% else %>
        <li><%= link_to('Login', new_user_session_path) %></li>
        <li><%= link_to('Register', new_user_registration_path) %></li>
      <% end %>
      <li><%= link_to('New List', new_list_path, {style: 'color:red'}) %></li>
      <% if is_admin? %>
        <li><a href="javascript: alert('yolo')">Hello Admin!</a></li>
      <% elsif is_robot? %>
        <li><a href="javascript: alert('yolo')">Hello Robot!</a></li>
      <% end %>
    </ul>
  </div>
</nav>

<% if can_checkout_on_amazon? %>
  <div class="text-center">
    <%= link_to("View Cart", cart_items_path) %>
  </div>
  <form method="GET" target="_blank" class="text-center" id="cart" action="https://www.amazon.com/gp/aws/cart/add.html">
    <%= hidden_field_tag("AWSAccessKeyId", ENV.fetch("AWS_AFFILIATES_ACCESS_KEY_ID")) %>
    <%= hidden_field_tag("AssociateTag", ENV.fetch("AWS_AFFILIATES_ASSOCIATE_TAG")) %>
    <% current_cart.to_a.each_with_index do |item, index| %>
      <% i = index+1 %>
      <%= hidden_field_tag("ASIN.#{i}", item[0]) %>
      <%= hidden_field_tag("Quantity.#{i}", item[1]) %>
    <% end %>
    <input type="submit" name="add" value="Checkout Now" class="btn btn-default"/>
  </form>
  <%= image_tag("powered-by-amazon.png", style: "display: block; margin: 10px auto; cursor: pointer;", onclick: "$('form#cart').submit()") %>
<% elsif current_user %>
  <div class="text-center">
    <%= link_to("Cart is Empty", "#", class: "btn btn-default disabled") %>
  </div>
<% end %>
