<nav class="db dt-l w-100 border-box pa3 ph5-l system-sans-serif ttu">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="<%= root_path %>" title="Home"><%= nav_title %></a>

  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    <%# link_to('New List', new_list_path, class: "link dim dark-gray f6 f5-l dib mr3 mr4-l") %>
    <% if user_signed_in? %>
      <% if is_admin? %>
        <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="javascript: alert('yolo')">Hello Admin!</a>
      <% elsif is_robot? %>
        <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="javascript: alert('yolo')">Hello Robot!</a>
      <% end %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "link dim dark-gray f6 f5-l dib mr3 mr4-l") %>
      <%= link_to('Edit profile', edit_user_registration_path, class: "link dim dark-gray f6 f5-l dib") %>
    <% else %>
      <%= link_to('Login', new_user_session_path, class: "link dim dark-gray f6 f5-l dib mr3 mr4-l") %>
      <%= link_to('Register', new_user_registration_path, class: "link dim dark-gray f6 f5-l dib") %>
    <% end %>
  </div>
</nav>
