<nav class="navbar navbar-default" role="navigation">
  <div id='nav-bar' class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to(nav_title, root_path, {class: 'navbar-brand'}) %></li>
      <% if user_signed_in? %>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <li><%= link_to('Edit profile', edit_user_registration_path) %></li>
      <% else %>
        <li><%= link_to('Login', new_user_session_path) %></li>
        <li><%= link_to('Register', new_user_registration_path) %></li>
      <% end %>
      <li><%= link_to('New List', new_list_path, {style: 'color:red'}) %></li>
    </ul>
  </div>
</nav>
