<nav class="db dt-l w-100 border-box bb b--black-50 bg-washed-blue pa3 ph5-l system-sans-serif ttu">
  <% if user_signed_in? %>
    <%= link_to(nav_title, accounts_path, class: 'db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l') %>
  <% else %>
    <%= link_to(nav_title, root_path, class: 'db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l') %>
  <% end %>

  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    <% if user_signed_in? %>
      <% if current_account %>
        <%= link_to("Preview:", site_root_url(subdomain: current_account.slug), target: "_blank", class: 'link dim dark-gray f6 f5-l dib mr2', title: "Visit #{current_account.name}") %>
      <% end %>
      <% if controller.respond_to?(:current_accounts) && current_accounts.size > 1 %>
        <%= select_tag(:account_id, options_from_collection_for_select(current_accounts, :slug, :name, current_account.try(:slug)), prompt: "Change Account", onchange: "window.location.href='/accounts/'+this.value+'/edit'") %>
      <% end %>

      <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "link dim dark-gray f6 f5-l dib mr3 mr4-l") %>
      <%= link_to('Edit profile', edit_user_registration_path, class: "link dim dark-gray f6 f5-l dib") %>
    <% else %>
      <%= link_to('Login', new_user_session_path, class: "link dim dark-gray f6 f5-l dib mr3 mr4-l") %>
      <%= link_to('Register', new_user_registration_path, class: "link dim dark-gray f6 f5-l dib") %>
    <% end %>
  </div>
</nav>


<% if current_user && current_account %>
  <nav class="dt w-100 border-box bg-dark-blue bb b--black-50 pa0 system-sans-serif">
    <div class="dtc v-mid w-100 tc pv2">
      <%= link_to('Site Settings', edit_account_path(current_account), class: "link dim near-white f5 dib ph3") %>
      <%= link_to('All Posts', account_path(current_account), class: "link dim near-white f5 dib ph3") %>
      <%= link_to('New Post', new_account_list_path(current_account), class: "link dim near-white f5 dib ph3") %>
    </div>
  </nav>
<% end %>

