<nav class="db dt-l w-100 border-box pa3 ph5-l system-sans-serif ttu">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="<%= root_path %>" title="Home"><%= nav_title %></a>

  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    <% if user_signed_in? %>
      <% if controller.respond_to?(:current_accounts) && current_accounts.size > 1 %>
        <%= select_tag(:account_id, options_from_collection_for_select(current_accounts, :slug, :name, current_account.try(:slug)), prompt: "Change Account", onchange: "window.location.href='/accounts/'+this.value+'/edit'") %>
      <% end %>
      <%= link_to('Create Another Website!', new_account_path, class: "link dim dark-gray f6 f5-l dib mr3 mr4-l") %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "link dim dark-gray f6 f5-l dib mr3 mr4-l") %>
      <%= link_to('Edit profile', edit_user_registration_path, class: "link dim dark-gray f6 f5-l dib") %>
    <% else %>
      <%= link_to('Login', new_user_session_path, class: "link dim dark-gray f6 f5-l dib mr3 mr4-l") %>
      <%= link_to('Register', new_user_registration_path, class: "link dim dark-gray f6 f5-l dib") %>
    <% end %>
  </div>
</nav>



