<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{content_for(:title)} - #{nav_title}" : nav_title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'layouts/navigation' %>
  <div class="sans-serif <%= container_class_name %>">
    <% if notice %>
      <p class="alert alert-info measure center tc"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger measure center tc"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </div>

  <%= yield :javascripts %>
</body>
</html>
