<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/meta", locals: {nav_title: current_account.nav_title} %>
  <%= render partial: "layouts/analytics", locals: {analytics_id: current_account.google_tag_manager} %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= render partial: 'layouts/site/nav' %>
<%= render partial: 'layouts/site/header' %>
<div class="<%= site_container_class_name %>">
  <%= yield %>
</div>
<%= render partial: 'layouts/site/footer' %>
<%= yield :javascripts %>
</body>
</html>
