<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{content_for(:title)} - #{current_account.nav_title}" : current_account.nav_title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<p class="bg-gold mt0 pv4 tc system-sans-serif ttu">
  <strong>Heads Up!</strong> You're in preview mode! - Go back and <%= link_to("edit this post", edit_account_list_path(current_account, current_list)) %>.
</p>
<%= render partial: 'layouts/site/nav' %>
<%= render partial: 'layouts/site/header' %>
<div class="<%= site_container_class_name %>">
  <%= yield %>
</div>
<%= render partial: 'layouts/site/footer' %>
<%= yield :javascripts %>
</body>
</html>
