<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? "#{content_for(:title)} - #{current_account.nav_title}" : current_account.nav_title %></title>
  <%= tag(:link, rel: "canonical", href: request.fullpath) %>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <% if current_account.google_tag_manager.present? %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= current_account.google_tag_manager %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', '<%= current_account.google_tag_manager %>');
    </script>
  <% end %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= render partial: 'layouts/site/nav' %>
<%= render partial: 'layouts/site/header' %>
<div class="<%= site_container_class_name %>">
  <%= yield %>
</div>
<%= render partial: 'layouts/site/footer' %>
<%= yield :javascripts %>
</body>
</html>
