<li>
  <%= link_to(edit_account_list_path(current_account, list), class: "bb b--black-10 db w-100 link ph4 pv2") do %>
    <h4 class="ma0 pa0 link f4 black lh-title"><%= list.name %></h4>

    <div class="ma0 pa0 link f5 lh-copy black-50">
      <span>Last edited <%= list.updated_at.to_formatted_s(:short) %> (<%= list.word_count %> words) so far</span>
      <span> - </span>
      <div class="hide-child di absolute"><span> more</span>
        <div class="child absolute ba">
          <table class="">
            <tbody>
            <tr>
              <td><%= link_to('edit', edit_account_list_path(current_account, list)) %></td>
              <td><%= link_to('edit', edit_account_list_path(current_account, list)) %></td>
              <td><%= link_to('edit', edit_account_list_path(current_account, list)) %></td>
              <td><%= link_to('edit', edit_account_list_path(current_account, list)) %></td>
              <td><%= link_to('edit', edit_account_list_path(current_account, list)) %></td>
              <% if list.published? %>
                <td><%= link_to('view', site_list_url(list.slug, subdomain: current_account.slug), target: "_blank") %></td>
              <% end %>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</li>
