<div class="cf">
  <div class="fl w-50">
    <h3 class="tc"><%= link_to("View: #{current_account.name}", site_root_url(subdomain: current_account.slug), target: "_blank") %></h3>
    <%= simple_form_for(current_account) do |f| %>
      <h1>
        <%= f.input :name, label: "Website Name", :autofocus => true, required: true %>
      </h1>
      <h2>
        <%= f.input :host, label: "Your Full Custom Domain" %>
      </h2>
      <%= f.button :submit %>
    <% end %>
  </div>
  <div class="fl w-50">
    <%= link_to("New List", new_account_list_path(current_account, )) %>
    <% if @lists.any? %>
      <h3>Published Lists</h3>
      <ul>
        <% @lists.each do |list| %>
          <li><%= list %></li>
        <% end %>
      </ul>
    <% end %>
    <% if @drafts.any? %>
      <% if @lists.any? %>
        <hr/>
      <% end %>

      <h3>Drafted Lists</h3>
      <ul>
        <% @drafts.each do |list| %>
          <li><%= list %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
