<div class="cf">
  <div class="fl w-20">
    <%= render partial: "invitations" %>
  </div>
  <div class="fl w-40 ph3">
    <h3 class="tc"><%= link_to("View: #{current_account.name}", site_root_url(subdomain: current_account.slug), target: "_blank") %></h3>
    <%= render partial: "accounts/headers" %>
  </div>
  <div class="fl w-40">
    <%= link_to("New List", new_account_list_path(current_account)) %>
    <% if @lists.any? %>
      <h3>Published Lists</h3>
      <ul class="list ma0 pa0">
        <% @lists.each do |list| %>
          <%= render partial: "accounts/list_element", locals: {list: list} %>
        <% end %>
      </ul>
      <%= will_paginate(@lists, param_name: :list_page) %>
    <% end %>
    <% if @drafts.any? %>
      <% if @lists.any? %>
        <hr/>
      <% end %>

      <h3>Drafted Lists</h3>
      <ul class="list ma0 pa0">
        <% @drafts.each do |list| %>
          <%= render partial: "accounts/list_element", locals: {list: list} %>
        <% end %>
      </ul>
      <%= will_paginate(@drafts, param_name: :draft_page) %>
    <% end %>
  </div>
</div>
