<div class="mw7 center">
  <%= render partial: "accounts/headers" %>

  <%= content_tag(:details, open: current_account.google_tag_manager.blank?) do %>
    <summary>GoogleAnalytics</summary>
    <%= simple_form_for(current_account) do |f| %>
      <%= small_info("Its really important that you start tracking your website data early.") %>
      <%= f.input :google_tag_manager, placeholder: "UA-1234567-1" %>
      <%= f.button :submit %>
    <% end %>
  <% end %>

  <%= content_tag(:details, open: current_account.list_affiliate_disclosure.blank?) do %>
    <% current_account.list_affiliate_disclosure ||= Account.disclosure_template_default %>
    <summary>Your Affiliate Disclosure</summary>
    <%= simple_form_for(current_account) do |f| %>
      <%= small_info("Most people just use our default...") %>
      <%= f.input :list_affiliate_disclosure %>
      <%= f.button :submit %>
    <% end %>
  <% end %>

  <%= content_tag(:details, open: false) do %>
    <summary>About Page</summary>

  <% end %>

  <%= content_tag(:details, open: false) do %>
    <summary>Contact Page</summary>

  <% end %>

  <details>
    <summary>Domain Settings</summary>
    <p class="bg-light-blue pa4 br3">
      GO TO WHEREVER YOU BOUGHT YOUR DOMAIN... <br/>
      add a <code>cname</code> record to <br/>
      <code><%= URI(site_root_url(subdomain: current_account.slug)).host %>.</code>
    </p>

    <label for="rules">Domain Rules!</label>
    <ul>
      <li>must include a subdomain! most typically <code>www</code>. Example
        <highlight>www.yoursite.com</highlight>
      </li>
      <li>Cannot be a naked domain (anyways, did you know the SEO is better on WWW that it is without?)</li>
      <% if current_account.host.to_s.length > 1 %>
        <% current_account.fetch_domain_info.each do |k, v| %>
          <li><strong><%= k %></strong>: <%= v.inspect %></li>
        <% end %>
      <% end %>
    </ul>
    <h2>
      <%= simple_form_for(current_account) do |f| %>
        <%= f.input :host, label: "Your Full Custom Domain" %>
        <%= f.button :submit %>
      <% end %>
    </h2>
  </details>

  <details>
    <summary>User Invitations</summary>
    <%= render partial: "invitations" %>
  </details>
</div>
